In [3]:
# !python utilities/build_ltr.py --lookup_query "canon rebel" --all_clicks /workspace/datasets/train.csv | less

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("/workspace/datasets/train.csv")

In [6]:
df

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759
...,...,...,...,...,...,...
1865264,ffffbcfcee8ff636231fa0df557528e6fa2ecdba,3674224,pcmcat247400050000,ttv,2011-10-28 07:30:33.921,2011-10-28 07:27:05.039
1865265,ffffddbbdc67c4d775c7232082adaf40c7e7d03c,2986037,pcmcat218000050000,incase,2011-09-11 14:18:12.625,2011-09-11 14:17:57.759
1865266,ffffed824a4fc5b78e407a423f72bbbc2f6e5213,3303069,pcmcat248500050020,ds games,2011-10-20 00:24:18.609,2011-10-20 00:23:16.705
1865267,fffff158dec2f40d082f7797413f7b6dbc1713e6,2390524,pcmcat209000050008,Archos,2011-10-30 15:42:02.347,2011-10-30 15:40:20.889
1865268,fffff53f46ee78433a09fada9439848fdf0e3a9b,3504376,pcmcat182300050008,graphics cards,2011-10-20 00:02:03.854,2011-10-20 00:01:39.827

In [10]:
gb = df.groupby("query")

In [11]:
gb.get_group("ipad").count()

user          5036
sku           5036
category      5036
query         5036
click_time    5036
query_time    5036
dtype: int64

In [14]:
lte2 = gb.size().sort_values() < 2
lte2

query
!pod                                        True
Wireless Kit                                True
Wireless LAN adapters                       True
Wireless LAN adaptor                        True
Wireless Microphone                         True
                                           ...
hp touchpad                                False
iPad                                       False
Hp touchpad                                False
2622037 2127204 2127213 2121716 2138291    False
lcd tv                                     False
Length: 257860, dtype: bool

In [23]:
feature_results = []
for i in range(5):
    feature_result = {}
    feature_result["doc_id"] = 1
    feature_result["query_id"] = 34
    feature_result["sku"] = 2343
    feature_result["salePrice"] = 234
    feature_results += [feature_result]

feature_results[0]["name_match"] = "sdf"

In [24]:
frame = pd.DataFrame(feature_results)
frame.astype({'doc_id': 'int64', 'query_id': 'int64', 'sku': 'int64'})

   doc_id  query_id   sku  salePrice name_match
0       1        34  2343        234        sdf
1       1        34  2343        234        NaN
2       1        34  2343        234        NaN
3       1        34  2343        234        NaN
4       1        34  2343        234        NaN

In [30]:
txgb= pd.read_csv("/workspace/ltr_output/training.xgb", sep='\t', header=None)
txgb

,0,1,2,3,4,5,6,7,8,9
0,1.00,qid:1222,1:4.5474,2:0.0000,3:114.0000,4:2399.9900,5:2399.9900 # 2135063,2.0,Samsung 7000,fake
1,0.75,qid:1970,1:14.5394,2:14.5394,3:459.0000,4:59.9900,5:59.9900 # 2863614,3.0,digital photo frame,fake
2,0.75,qid:1396,1:13.1976,2:13.1976,3:873.0000,4:99.9900,5:99.9900 # 2838382,1.0,Stereo receiver,fake
3,1.00,qid:979,1:21.3965,2:21.3965,3:16.0000,4:39.9900,5:39.9900 # 2978363,1.0,Nba 2k12,fake
4,0.50,qid:2630,1:0.0000,2:0.0000,3:125.0000,4:229.9900,5:229.9900 # 2738738,1.0,notebooks,fake
...,...,...,...,...,...,...,...,...,...,...
8756,0.75,qid:769,1:11.3760,2:11.3760,3:87.0000,4:119.9900,5:119.9900 # 3039137,2.0,Jurassic park,fake
8757,0.75,qid:2409,1:12.9131,2:0.0000,3:251.0000,4:17.9900,5:17.9900 # 12153581,2.0,king of queens,fake
8758,0.00,qid:2978,1:0.0000,2:0.0000,3:0.0000,4:0.0000,5:0.0000 # 2475916,9.0,tablets,fake
8759,0.50,qid:1746,1:6.6649,2:6.6649,3:838.0000,4:629.9900,5:629.9900 # 2712418,6.0,asus laptop,fake
8760,1.00,qid:746,1:19.6972,2:0.0000,3:201.0000,4:29.9900,5:29.9900 # 3209161,1.0,Its always sunny in philadelphia,fake

In [31]:
txgb[0].value_counts()

0.75    2891
0.00    2215
1.00    2021
0.50    1634
Name: 0, dtype: int64